# List of monitoring alerts
{% for alert_type, data in alerts.items() %}
{%- if data -%}
- [{{ alert_type|capitalize }}](#{{ alert_type|replace(' ', '-')|lower }})
{%- endif %}
{% endfor -%}

{%- if alerts.cloudwatch -%}
## Cloudwatch
|Name|Description|Type|Region|Rule|
|---|---|---|---|---|
{%- for alert in alerts.cloudwatch %}
|{{ alert.name }}|{{ alert.description }}|{{ alert.type }}|{{ alert.region }}|<code>{{ alert.rule }}</code>|
{%- endfor %}
{%- endif %}

{%- if alerts.pingdom -%}
## Pingdom
|URL|Threshold|Paused|Name|Type|Tags|
|---|---|---|---|---|---|
{% for check in alerts.pingdom -%}
|{{ check.url }}|{{ check.responsetime_threshold }}|{{ check.paused }}|{{ check.name }}|{{ check.type.keys()|first }}|{{ check.tags|join(', ') }}|
{% endfor -%}
{% endif -%}

{%- if alerts.prometheus -%}
## Prometheus
|PrometheusRule|Group/Name|Summary|Description|Expr|For|Severity|Runbook|
|---|---|---|---|---|---|---|---|
{% for alert in alerts.prometheus -%}
|{{ alert.promRuleName }}|{{ alert.name }}|{{ alert.summary.replace("|", "\|") }}|{{ alert.description.replace("\n", " ").replace("|", "\|") }}|<code>{{ alert.expr.replace("\n", " ") }}</code>|{{ alert.for }}|{{ alert.severity }}|{{ '[' + alert.runbook +'](' + alert.runbook + ')' if alert.runbook.startswith("http") else alert.runbook }}|
{% endfor -%}
{% endif -%}

{%- if alerts['Blackbox Exporter'] -%}
## Blackbox Exporter
|URL|
|---|
{% for url in alerts['Blackbox Exporter'] -%}
|{{ url }}|
{% endfor -%}
{% endif -%}
